// Colors

@white: #ffffff;
@black: #171a2d;
@red: #dd4a4a;
@blue: #59aed3;
@blueDark: #171d3d;
@green: #54EB75;
@greenDark: #319E48;
@yellow: #EBE66C;
@yellowDark: #9E9B51;
@pink: #E160EB;
@purple: #8253B8;
@turquoise: #4eb584;

@item-color: linear-gradient(145deg, @purple, @pink) fixed;
@item-color-inverted: @white;

@primary-color: @purple;
@primary-color-shadow: @greenDark;

@seconday-color: @yellow;
@seconday-color-shadow: @yellowDark;

@body-color: @black;

@btn-color: @purple;
@btn-color-inverted: @white;

@error-color: @pink;

@background-color: linear-gradient(145deg, @black, @blueDark) fixed;
@background-color-inverted: @white;


// Spacing

@navigation-height: 3rem;


// Buttons

.deleteBtn, .acceptBtn {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	border-radius: 50%;
	color: fade(@white, 50%);
	transition: .2s;
}

.deleteBtn {
	background-color: fade(@red, 20%);

	&:hover {
		color: fade(@red, 80%);
		background-color: fade(@red, 30%);
	}
}

.acceptBtn {
	background-color: fade(@green, 20%);

	&:hover {
		color: fade(@green, 80%);
		background-color: fade(@green, 30%);
	}
}


// Mixins

.gradient(@color1, @color2) {
	background: linear-gradient(@color1, @color2) fixed;
}


//Overrides

button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}