// Colors

@white: #ffffff;
@black: #262626;
@green: #54EB75;
@greenDark: #319E48;
@yellow: #EBE66C;
@yellowDark: #9E9B51;
@pink: #E160EB;
@purple: #8253B8;

@primary-color: @purple;
@primary-color-shadow: @greenDark;

@seconday-color: @yellow;
@seconday-color-shadow: @yellowDark;

@body-color: @black;

@btn-color: @purple;
@btn-color-inverted: @white;

@error-color: @pink;


// Spacing

@navigation-height: 3rem;